<div>
  <div
    class="container flex flex-col items-center mt-11 snap-center"
    *ngFor="let data of data"
  >
    <div class="bg-slate-200 rounded-md shadow-2xl shadow-zinc-800">
      <header class="flex">
        <div class="flex items-center p-2">
          <div class="bg-gray-800 rounded-full">
            <img
              class="w-10 h-10 rounded-full"
              src="{{ data.user.image }}"
              alt=""
            />
          </div>
          <h1 class="ml-2 text-lg">{{ data.user.name }}</h1>
        </div>
      </header>

      <section>
        <div>
          <img src="{{ data.post.image }}" alt="" />

          <div class="p-1">
            <h4 class="mb-0">{{ data.post.text }}</h4>
            <h6 class="text-sm text-gray-700 mt-0">{{ data.post.city }}</h6>
          </div>

          <div class="p-1">
            <app-comments [postData]="data.post"></app-comments>
          </div>

          <div class="w-full">
            <input
              [(ngModel)]="commentInput"
              class="w-full bg-slate-300 p-1 h-10 text-lg"
              type="text"
              placeholder="comment something"
            />
            <button (click)="submitComment(data.post.id)">Submit</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
